.contactCard {
  width: 420px;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  justify-content: space-between;
  align-items: center;
  background-color: #1C1227;
  padding: 2rem;
  border-radius: 0.75rem;
}

.contactCard h3 {
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 310px;
}

#email {
  margin: 0;
  box-sizing: border-box;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: 1px solid white;
  background-color: #1C1227;
  padding: 0.5rem;
  width: 380px;
  color: white;
}

#message {
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 2rem;
  width: 380px;
  height: 15rem;
  border: 1px solid white;
  background-color: #1C1227;
  border-radius: 0.5rem;
  padding: 0.5rem;
  resize: none;
  color: white;
}

#submit {
  border: 0.5px solid white;
  border-radius: 0.5rem;
  background-color: #09080d;
  color: white;
  padding: 0.75rem 4rem;
  transition: all 0.25s;
}

#submit:hover {
  cursor: pointer;
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 0.25rem -0.25rem #E42575;
}

@media (max-width: 768px) {
  .contactCard {
    margin: 1.5rem auto;
    width: 320px;
    padding: 1rem;
  }

  #email {
    width: 300px;
  }

  #message {
    width: 300px;
  }
}
