.navbar-index {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
}

.navbar-index a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  margin: 0 0.6rem;
  transition: all 0.25s;
}

.navbar-index a:hover {
  color: #E42575;
  text-decoration: underline;
}

.navbar-index h3 {
  font-size: 2rem;
}

.infocard {
  width: 60%;
  display: flex;
  margin: 5rem auto;
  justify-content: space-between;
  align-items: center;
  background-color: #1C1227;
  padding: 2rem 2rem;
  border-radius: 0.75rem;
}

.cardImg img {
  object-fit: cover;
  border-radius: 0.75rem;
  margin-right: 2rem;
}

.info {
  width: 60%;
  margin-left: 2rem;
}

.info h4 {
  font-size: 1.2rem;
  word-spacing: 0.2rem;
  font-weight: 400;
}

.info p {
  font-size: 1.08rem;
  font-weight: 700;
}

.socialsContainer {
  display: flex;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0.2rem;
  margin-right: 1rem;
}

.socials a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  background-color: #09080d;
  border-radius: 1rem;
  padding: 0.75rem 1.25rem;
  transition: 0.25s;
}

.socials a:hover {
  transform: translateY(-0.2rem);
  box-shadow: 0 0.5rem 0.25rem -0.25rem #E42575;

}

.socials a span {
  margin-left: 0.4rem;
  margin-right: 0.6rem;
}

.socials img {
  width: 2rem !important;
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(1deg) brightness(113%) contrast(105%);
}

@media (max-width: 1280px) {
  .infocard {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }

  .cardImg img {
    object-fit: cover;
    border-radius: 0.75rem;
    width: 250px !important;
    height: 250px !important;
    margin: 0 !important;
  }

  .info {
    width: 85%;
  }

  .socialsContainer {
    align-items: center;
    justify-content: center;
  }

  .info h4 {
    font-size: 0.95rem;
    word-spacing: 0.2rem;
    font-weight: 400;
  }

  .info p {
    font-size: 0.9rem;
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .infocard {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
  }

  .cardImg img {
    object-fit: cover;
    border-radius: 0.75rem;
    width: 180px !important;
    height: 180px !important;
    margin: 0 !important;
  }

  .info h4 {
    display: none;
  }

  .navbar-index {
    padding: 0.5rem 1rem;

  }

  .navbar-index a {
    margin: 0 0.3rem;
    font-size: 1rem;
  }

  .navbar-index h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 455px) {
  .navbar-index a {
    margin: 0 0.3rem;
    font-size: 0.75rem;
  }

  .navbar-index h3 {
    font-size: 1rem;
  }

  .navbar-index {
    padding: 0.25rem 0.5rem;
  }
}
