.card-list {
  display: flex;
  justify-content: space-evenly;
}

.projectCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1C1227;
  border-radius: 1rem;
  padding: 2rem;
  transition: all 0.2s;
}

.projectCard:hover {
  box-shadow: 0.25rem 0.25rem 0.25rem #E42575;
  transform: translateY(-0.25rem);
}

.projectCard img {
  object-fit: cover;
  border-radius: 1rem;
}

.projects a {
  text-decoration: none;
  color: white;
}

.projectCard h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.projectCard p {
  margin-top: 1.25rem;
  margin-bottom: 0;
  padding: 0;
}
